<div class="sidebar_right">

  <div class="box_sidebar">
    <h2>
      <img src="/assets/front-end/ico_popular.png" alt="popular"/>&nbsp; What's awesome
    </h2>
    <ul class="list_post">
      <li>
        <a href="">
          <span class="thumb60"><span class="border_img">&nbsp</span><img src="/assets/front-end/dummy2.png" /></span>
          Consistency across our web site and mobile applications was awesome
          <div class="clear"></div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="thumb60"><span class="border_img">&nbsp</span><img src="/assets/front-end/dummy.png" /></span>
          Detail and consistency across our web site and mobile applications was awesome
          <div class="clear"></div>
        </a>

      </li>
      <li>
        <a href="">
          <span class="thumb60"><span class="border_img">&nbsp</span><img src="/assets/front-end/advert.png" /></span>
          Attention to detail and consistency across our web site and mobile applications was awesome
          <div class="clear"></div>
        </a>

      </li>
      <li>
        <a href="">
          <span class="thumb60"><span class="border_img">&nbsp</span><img src="/assets/front-end/dummy.png" /></span>
          Across our web site and mobile applications was awesome
          <div class="clear"></div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="thumb60"><span class="border_img">&nbsp</span><img src="/assets/front-end/dummy2.png" /></span>
          Attention to detail and consistency across our web site and mobile applications was awesome
          <div class="clear"></div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="thumb60"><span class="border_img">&nbsp</span><img src="/assets/front-end/dummy2.png" /></span>
          Consistency across our web site and mobile applications was awesome
          <div class="clear"></div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="thumb60"><span class="border_img">&nbsp</span><img src="/assets/front-end/dummy.png" /></span>
          Detail and consistency across our web site and mobile applications was awesome
          <div class="clear"></div>
        </a>

      </li>
      <li>
        <a href="">
          <span class="thumb60"><span class="border_img">&nbsp</span><img src="/assets/front-end/advert.png" /></span>
          Attention to detail and consistency across our web site and mobile applications was awesome
          <div class="clear"></div>
        </a>

      </li>
    </ul>
  </div>
  <a href=""><img src="/assets/front-end/advert.png" alt="advert" class="social"/></a>

  <div class="box_sidebar">
    <h2>
      <img src="/assets/front-end/ico_poll.png" alt="poll"/>&nbsp; Poll
    </h2>
    <p class="poll_quest">
      Test your internet connection speed right now. What is your download speed?
    </p>

    <ul class="polling">
      <li>
        <input type="radio"/> Less than 1 Mbps
      </li>

      <li>
        <input type="radio"/> Less than 1 Mbps
      </li>
      <li>
        <input type="radio"/> Less than 1 Mbps
      </li>

      <li>
        <input type="radio"/> Less than 1 Mbps
      </li>
    </ul>
  </div>
  <a href=""><img src="/assets/front-end/twitter.png" alt="twitter" class="social"/></a>
  <a href=""><img src="/assets/front-end/facebook.png" alt="facebook" class="social"/></a>
  <div class="box_sidebar">
    <h2>
      <img src="/assets/front-end/ico_comment.png" alt="comment"/>&nbsp; Recents Comments
    </h2>
    <ul class="list_post">
      <li>
        <a href="">
          <span class="user_name">Steve Carel comment on</span>
          "Detail and consistency across our web site and mobile applications was awesome"</a>
      </li>
      <li>
        <a href="">
          <span class="user_name">Yohanes Paskal comment on</span>
          "Attention to detail and consistency across our web site and mobile applications was awesome"</a>
      </li>
      <li>
        <a href="">
          <span class="user_name">Maharani comment on</span>
          "Across our web site and mobile applications was awesome"</a>
      </li>
      <li>
        <a href="">
          <span class="user_name">Peeter comment on</span>
          "Consistency across our web site and mobile applications was awesome"</a>
      </li>
      <li>
        <a href="">
          <span class="user_name">Creativste comment on</span>
          "Detail and consistency across our web site and mobile applications was awesome"</a>
      </li>
    </ul>
  </div>
  <div class="box_sidebar">
    <h2>
      <img src="/assets/front-end/ico_comment.png" alt="comment"/>&nbsp; Popular Authors
    </h2>
    <ul class="list_post">
      <li>
        <a href="">
          <span class="user_name">Steve Carel comment on</span>
          "Detail and consistency across our web site and mobile applications was awesome"</a>
      </li>
      <li>
        <a href="">
          <span class="user_name">Yohanes Paskal comment on</span>
          "Attention to detail and consistency across our web site and mobile applications was awesome"</a>
      </li>
      <li>
        <a href="">
          <span class="user_name">Maharani comment on</span>
          "Across our web site and mobile applications was awesome"</a>
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>