<a href="" class="feedback">
  <%= image_tag "front-end/feedback.png", :alt => 'feedback' %>
</a>
<div id="network">
  <div class="container">
    Language&nbsp;
    <%= link_to image_tag("front-end/flag_03.png"), "#" %>
    <%= link_to image_tag("front-end/flag_05.png"), "#" %>

    <%#= link_to "Register", '#', :class => 'account' %>
    <%#= link_to "Sign In", '#', :class => 'account' %>
  </div>
</div>