<div class="tutorial_post">
  <h2>
    <img src="/assets/front-end/tutorial.png" alt="tutorial" />
  </h2>
  <ul>
    <li>
      <a href="">
        <span class="tutorial_tag">RAILS</span>
        Attention to detail and consistency across our web site and mobile applications
      </a>
    </li>
    <li>
      <a href="">
        <span class="tutorial_tag">CSS</span>
        Attention to detail and consistency across our web site and mobile applications
      </a>
    </li>
    <li>
      <a href="">
        <span class="tutorial_tag">DESIGN</span>
        Ddetail and consistency across our web site and mobile applications
      </a>
    </li>
    <li>
      <a href="">
        <span class="tutorial_tag">RAILS</span>
        Attention to detail and consistency across our web site and mobile applications
      </a>
    </li>
    <li>
      <a href="">
        <span class="tutorial_tag">PHP</span>
        Consistency across our web site and mobile applications
      </a>
    </li>
    <li>
      <a href="">
        <span class="tutorial_tag">CSS</span>
        Detail and consistency across our web site and mobile applications
      </a>
    </li>
  </ul>
  <div class="clear"></div>
</div>